@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">To the Feedback Page for You and Me.</p>
    <p>Hover over the cards to read peoples feed back</p>
</div>

<div class="row g-4 justify-content-center">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Customer FeedBack1</p>
                        <p>From External Sources</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">The News</p>
                        <p>Happy and Satisfied that the Invoice pulled Through</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">John J.</p>
                        <p>Ive got News for you</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Spontainoius</p>
                        <p>The Work and Management teams work so Great with one another</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Sfiso</p>
                        <p>From Small Town</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Happpy</p>
                        <p>Quality work ethic and enthusiasim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Fourie</p>
                        <p>The ferry one</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Not Satisfied</p>
                        <p>The Ques were very long month end my old knees couldnt handle it</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
